/**
 * ____               __              
 *  /  _ '/  _ _ _/  /  )_  _ '_    _ 
 * (  (//(()/ (-(/  /(_/(-_) /(//)_)  
 *                           _/                                  
 * Author: Edward Look
 *
 */

/* ==========================================================================
   Sidebar
   ========================================================================== */
#sidebar {
	font-family: lavanderia_sturdysturdy, Helvetica, Arial, sans-serif;
	background-image: url('../img/sidebar_bg.jpg');
	background-size:100% 100%;
	background-repeat: no-repeat;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	bottom: 0;
	width: 19%;
	overflow-y: auto;
	overflow-x: hidden;
	box-shadow: 5px 0px 150px #0a0a0a;
}
#sidebar a:link,
#sidebar a:visited {
	color: #f2f2f2;
	text-decoration: none;
}
#sidebar a:hover {
	color: #f2f2f2;
}

#sidebar h2 {
	margin-top: 65%;
	font-size: 3em;
	font-weight: normal;
	text-align: center;
}

#sidebar-logo {
 	position: absolute;
 	top: 1.5%;
 	width: 25%;
 	left: 38%;
}

#nav {
	width: 100%;
	display: inline;
}

#nav ul {
	margin: 25% 4% 0% 10%;
	position: relative;
	text-align: center;
	left: -2.9%;
	list-style: none;
}

#nav ul li {
	font-size: 2.5em;
	padding: 10%;
}

#nav ul li:hover, .active {
	background: url('../img/sidebar_hover.jpg');
	background-size: 65% 100%;
}

#nav ul li a:link,
#nav ul li a:visited {
	color: #f2f2f2;
	text-decoration: none;
}

#nav ul li a:hover {
	color: red;
}

#social-icons {
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-left: -4%;
	text-align: center;
}

#social-icons span {
	margin-left: 8%;
	margin-right: 8%;
}

/* ==========================================================================
   Content
   ========================================================================== */

#container {
	margin-left: 21%;
	height: 100%;
}

#container .space-50 {
	position: relative;
	height: 50%;
}

.content {
	/* border: 1px solid black; */
	position: relative;
	height: 100%;
}

.content h1 {
	opacity: 0;
	position: absolute;
	font-family: liberatorregular, Helvetica, Arial, sans-serif;
	font-size: 8em;
	line-height: 100%;
}

/* Welcome */
#welcome h1:nth-of-type(1) { /* apps */
	bottom: 60%;
	left: 140%;
}
#welcome h1:nth-of-type(2) { /* websites */
	bottom: 45%;
	left: -40%;
}
#welcome h1:nth-of-type(3) { /* designs */
	bottom: -50%;
	left: 30%;
}
#welcome h1:nth-of-type(4) { /* we create. */
	opacity: 0;
	bottom: 80%;
	left: 8%;
}
#welcome h1:nth-of-type(5) { /* tailored. */
	opacity: 0;
	bottom: 80%;
	left: 53%;
}


/* ==========================================================================
   Custom fonts
   ========================================================================== */

/* sidebar */
@font-face {
    font-family: 'lavanderia_sturdysturdy';
    src: url('../fonts/lavanderia_sturdy-webfont.eot');
    src: url('../fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lavanderia_sturdy-webfont.woff') format('woff'),
         url('../fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
         url('../fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* content headers */
@font-face {
    font-family: 'liberatorregular';
    src: url('../fonts/liberator-webfont.eot');
    src: url('../fonts/liberator-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberator-webfont.woff') format('woff'),
         url('../fonts/liberator-webfont.ttf') format('truetype'),
         url('../fonts/liberator-webfont.svg#liberatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Icon Fonts
   ========================================================================== */

@font-face {
	font-family: 'social';
	src:url('../fonts/social.eot');
	src:url('../fonts/social.eot?#iefix') format('embedded-opentype'),
		url('../fonts/social.woff') format('woff'),
		url('../fonts/social.ttf') format('truetype'),
		url('../fonts/social.svg#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'social';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-facebook:before, .icon-twitter:before, .icon-envelope:before {
	font-family: 'social';
	speak: none;
	font-size: 2.5em;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
	content: "\e003";
}
.icon-twitter:before {
	content: "\e002";
}
.icon-envelope:before {
	content: "\e001";
}








.arrow_box {
	position: absolute;
	width: 90%;
	height: 75%;
	left: 3%;
	bottom: 20%;
	background: #394d59;
	border-radius: 50px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #394d59;
	border-width: 80px;
	left: 47%;
	margin-left: -80px;
}




